<div class="row" ><div class="col" ><h4>Børnemenu</h4></div></div>
<div class="row" >
<div class="col" >66</div><div class="col" >Chello Pizza</div><div class="col" >Tomatsauce, ost, skinke</div><div class="col" >47,-</div>
</div><div class="row" >
<div class="col" >67</div><div class="col" >Emre's Pizza</div><div class="col" >Tomatsauce, ost, pølser</div><div class="col" >47,-</div>
</div><div class="row" >
<div class="col" >68</div><div class="col" >Spaghetti</div><div class="col" >Spaghetti med kødsauce</div><div class="col" >47,-</div>
</div><div class="row" >
<div class="col" >69</div><div class="col" >Fiskefilét</div><div class="col" >med 1 fisk, amerikanske pommes frites, ketchup og remoulade</div><div class="col" >47,-</div>
</div><div class="row" >
<div class="col" >70</div><div class="col" >Pølsemix</div><div class="col" >Pølser med amerikanske pommmes frites, ketchup og remoulade</div><div class="col" >47,-</div>
</div><div class="row" >
<div class="col" >71</div><div class="col" >Nuggets</div><div class="col" >6 stk. nuggets med amerikanske pommes frites, ketchup og remoulade</div><div class="col" >47,-</div>
</div>