<div class="row" ><div class="col" ><h4>Burger</h4></div></div>
<div class="row" >
<div class="col" >108</div><div class="col" >Dobbelt Burger</div><div class="col" >med 2 stk. bøf, salat, tomatskiver, agurk, ketchup, mayonaise, og burgerdressing</div><div class="col" >55,-</div>
</div><div class="row" >
<div class="col" >109</div><div class="col" >Big Burger</div><div class="col" >med bøf, salat, tomatskiver, agurk, ketchup, mayonaise, og burgerdressing</div><div class="col" >49,-</div>
</div><div class="row" >
<div class="col" >110</div><div class="col" >Cheese Burger</div><div class="col" >med bøf, ost, salat, tomatskriver, agurk, ketchup, mayonaise, og birgerdressing</div><div class="col" >52,-</div>
</div><div class="row" >
<div class="col" >111</div><div class="col" >Klassisk Burger</div><div class="col" >med hjemmelavet oksebøf på 200g., salat, tomatskiver, agurk, ketchup, mayonaise, og burgerdressing</div><div class="col" >67,-</div>
</div><div class="row" >
<div class="col" >135</div><div class="col" >Chicken Burger</div><div class="col" >med kyllingebøf, salat, tomatskiver, agurk, creme fraische</div><div class="col" >62,-</div>
</div><div class="row" >
<div class="col" >112</div><div class="col" >American Burger</div><div class="col" >med 200g hjemmelavet oksekød, brød, ost, tomatskiver, agurk, salat, hvidløgsmayonnaise, amerikanske frites</div><div class="col" >85,-</div>
</div><div class="row" >
<div class="col" >113</div><div class="col" >Mamma's Special</div><div class="col" >med hjemmelavet oksebøf på 200g. med bacon, ost, salat, tomatskiver, agurk, ketchup, mayonnaise, og burgerdressing</div><div class="col" >72,-</div>
</div><div class="row" >
<div class="col" >142</div><div class="col" >Team-Box</div><div class="col" >4 stk. mozzarella sticks, 4 stk. løgringe, 4 stk. chili cheese tops, amerikanske frites, ketchup, hvidløgsmayonnaise</div><div class="col" >79,-</div>
</div><div class="row" >
<div class="col" >114</div><div class="col" >Amerikanske Frites</div><div class="col" >Amerikanske pommes frites</div><div class="col" >35,-</div>
</div>
