<div class="row" ><div class="col" ><h4>Deserter</h4></div></div>
<div class="row" >
<div class="col" >126</div><div class="col" >Chokoladekage</div><div class="col" >Chokoladekage med chokoladesauce</div><div class="col" >52,-</div>
</div><div class="row" >
<div class="col" >127</div><div class="col" >Æblekage</div><div class="col" >Æblekage med creme fraiche og chokoladesauce</div><div class="col" >52,-</div>
</div>
