<div class="row" ><div class="col" ><h4>Dobbeltindbagt Pizza</h4></div></div>
<div class="row" >
<div class="col" >64</div><div class="col" >UFO</div><div class="col" >Tomatsauce, ost, skinke, champignon, rejer, oregano</div><div class="col" >84,-</div>
</div><div class="row" >
<div class="col" >65</div><div class="col" >Alanya</div><div class="col" >Tomatsauce, ost, kebab, løg, bearnaisesauce, pepperoni, oregano</div><div class="col" >84,-</div>
</div><div class="row" >
<div class="col" >65A</div><div class="col" >Nisa</div><div class="col" >Tomatsauce, ost, kebab, løg, kylling, pølser, bearnaisesauce, oregano</div><div class="col" >84,-</div>
</div>