<div class="row" ><div class="col" ><h4>Ekstra tilbehør</h4></div></div>
<div class="row" >
    <div class="col" >Grøntsager</div>
    <div class="col" >Pris pr. del</div>
    <div class="col" >7,-</div>
</div>
<div class="row" >
    <div class="col" >Kød, Frisk eller Ost</div>
    <div class="col" >pris pr. del</div>
    <div class="col" >12,-</div>
</div>
<div class="row" >
    <div class="col" >Salat</div>
    <div class="col" >Salat på pizza</div>
    <div class="col" >13,-</div>
</div>
<div class="row" >
    <div class="col" >Dessing eller Sauce</div>
    <div class="col" >Få dressing eller sauce</div>
    <div class="col" >8,-</div>
</div>
<div class="row" >
    <div class="col" >Ekstra fyld på pizza</div>
    <div class="col" >Få noget ekstra fyld på din pizza.</div>
    <div class="col" >20,-</div>
</div>
<div class="row" >
    <div class="col" >Chili eller Hvidløg</div>
    <div class="col" >Chilisauce eller hvidløg i bæger ved siden af.</div>
    <div class="col" >8,-</div>
</div>
<div class="row" >
    <div class="col" >Flûtes</div>
    <div class="col" >Få flûte ved siden af</div>
    <div class="col" >20,-</div>
</div>