<div class="row" ><div class="col" ><h4>Vand og Sodavand</h4></div></div>
<div class="row" >
    <div class="col" >1D</div>
    <div class="col" >Sodavand 25 cl</div>
    <div class="col" >
        vælg mellem: 
        <br>- Coca Cola Classic
        <br>- Coca Cola ZERO SUGAR
        <br>- Fanta Orange
        <br>- Sprite
        <br>- Schweppes Lemon
    </div><div class="col" >25</div>
</div>
<div class="row" >
    <div class="col" >2D</div>
    <div class="col" >Sodavand 50 cl</div>
    <div class="col" >
        vælg mellem: 
        <br>- Coca Cola Classic
        <br>- Coca Cola ZERO SUGAR
        <br>- Fanta Orange
        <br>- Sprite
        <br>- Schweppes Lemon
    </div>
</div>
