<div class="row" ><div class="col" ><h4>Sodavand</h4></div></div>
<div class="row" >
    <div class="col" >Sodavand 25 cl</div>
    <div class="col" >
        vælg mellem: 
        <br>- Coca Cola Classic
        <br>- Coca Cola ZERO SUGAR
        <br>- Fanta Orange
        <br>- Sprite
        <br>- Schweppes Lemon
    </div>
    <div class="col" >25,-</div>
</div>
<div class="row" >
    <div class="col" >Sodavand 50 cl</div>
    <div class="col" >
        vælg mellem: 
        <br>- Coca Cola Classic
        <br>- Coca Cola ZERO SUGAR
        <br>- Fanta Orange
        <br>- Sprite
        <br>- Schweppes Lemon
    </div>
    <div class="col" >35,-</div>
</div>
<div class="row" >
    <div class="col" >Sodavand 1,5 L</div>
    <div class="col" >
        Kun ud af huset, vælg mellem: 
        <br>- Coca Cola Classic
        <br>- Coca Cola ZERO SUGAR
        <br>- Fanta Orange
        <br>- Sprite
    </div>
    <div class="col" >40,-</div>
</div>
