<div class="row" ><div class="col"><h4>Flaskeøl</h4></div></div>
<div class="row" >
    <div class="col" >
        Grøn Tuborg 4.6%
    </div>
    <div class="col">
        Danmarks første pilsner. Smagen er mild og frisk 
        <br>med en let efterbitterhed. Den er gylden med hvidt 
        <br>skum med duft af blomster og korn.
    </div>
    <div class="col" >32,-</div>
</div>
<div class="row" >
    <div class="col" >
        Tuborg Classic 4.6%
    </div>
    <div class="col">
        Danmarks første "Classic" har en ristet smag 
        <br>og en let sødme. Den lyse farve krones af 
        <br>elfenbensfarvet 
        skum, og duften er frisk.
    </div>
    <div class="col" > 35,-</div>
</div>
<div class="row" >
    <div class="col" >Carlsberg Pilsner 4.6%</div>
    <div class="col" >
        En harmonisk balance mellem bitterhed og æble. 
        <br>En smuk lysgylden øl med duft af fyrretræ 
        <br>og hasselnød - næssten som duften af Danmark.
    </div>
    <div class="col" >32,-</div>
</div>