<div class="row" ><div class="col" ><h4>Forretter</h4></div></div>
<div class="row" >
<div class="col" >72</div><div class="col" >Tzaziki</div><div class="col" >Tzaziki med brød</div><div class="col" >59,-</div>
</div><div class="row" >
<div class="col" >73</div><div class="col" >Nachos</div><div class="col" >Nachos med cheddarost, salsa, guacamole, creme fraische dressing</div><div class="col" >59,-</div>
</div><div class="row" >
<div class="col" >75</div><div class="col" >Calamari</div><div class="col" >10 stk. indbagte rejer med citronskive og dressing</div><div class="col" >59,-</div>
</div><div class="row" >
<div class="col" >76</div><div class="col" >Hvidløgsbrød</div><div class="col" >med ost</div><div class="col" >40,-</div>
</div><div class="row" >
<div class="col" >77</div><div class="col" >Nachos Kylling</div><div class="col" >Nachos med cheddarost, kylling, salsa, creme fraische, guacamole</div><div class="col" >62,-</div>
</div><div class="row" >
<div class="col" >78</div><div class="col" >Nachos Kebab</div><div class="col" >Nachos med cheddarost, kebab, salsa, creme fraische dressing, guacamole</div><div class="col" >62,-</div>
</div><div class="row" >
<div class="col" >79</div><div class="col" >Kyllingesalat</div><div class="col" >Kylling med salat, tomat, agurk, majs, champignon, bacon, dressing, og flûtes med smør</div><div class="col" >65,-</div>
</div><div class="row" >
<div class="col" >80</div><div class="col" >Grøn Salat</div><div class="col" >Majs, champignon, løg, tomat, agurk, fetaost</div><div class="col" >65,-</div>
</div>
