<div class="row">
    <div class="col">
        <h4>Frokost Tilbud</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        Hver dag indtil kl. 15:00
    </div>
</div>
<div class="row">
    <div class="col">
        1F
    </div><div class="col">
        Pizza
    </div><div class="col">
        Vælg mellem: 
        <br>nr.: 1 - 57 
    </div>
    <div class="col">
        55,-
    </div>
</div>
<div class="row">
    <div class="col">
        2F
    </div><div class="col">
        Pizza
    </div><div class="col">
        Vælg mellem: 
        <br>nr.: 89 - 91 
    </div>
    <div class="col">
        55,-
    </div>
</div>
<div class="row">
    <div class="col">
        Frokosttilbud gælder ikke<br /> 
        på helligdage, ved DanaCup <br/>
        samt Sindal marked.
    </div>
</div>

<!--
<div class="card" style="width: 18rem;">
  @*<img class="card-img-top" src="..." alt="Card image cap">*@
  <div class="card-body">
    <h5 class="card-title">Frokosttilbud</h5>
    <p class="card-text">Hver dag indtil kl. 15:00.</p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>-->