<div class="row" ><div class="col" ><h4>Halvindbagt Pizza</h4></div></div>
<div class="row" >
<div class="col" >61</div><div class="col" >Verona</div><div class="col" >Tomatsauce, ost, skinke, kebab, bearnaisesauce, oregano</div><div class="col" >75,-</div>
</div><div class="row" >
<div class="col" >62</div><div class="col" >Napoli</div><div class="col" >Tomatsauce, ost, kebab, pepperoni, bacon, chilisauce, hvidløg, oregano</div><div class="col" >75,-</div>
</div><div class="row" >
<div class="col" >63</div><div class="col" >Roma</div><div class="col" >Tomatsauce, ost, skinke, kødsauce, pølser, anannas, oregano</div><div class="col" >75,-</div>
</div>