<div class="row" ><div class="col" ><h4>Indbagt Pizza</h4></div></div>
<div class="row" >
<div class="col" >58</div><div class="col" >Calzone</div><div class="col" >Tomatsauce, ost, skinke, rejer, oregano</div><div class="col" >70,-</div>
</div><div class="row" >
<div class="col" >59</div><div class="col" >Pizza Spaghetti</div><div class="col" >Tomatsauce, ost, spaghetti, kødsauce, oregano</div><div class="col" >70,-</div>
</div><div class="row" >
<div class="col" >60</div><div class="col" >Mamma Mia</div><div class="col" >Tomatsauce, ost, løg, champignon, kebab, chilisauce, hvidløg, oregano</div><div class="col" >70,-</div>
</div><div class="row" >
<div class="col" >60A</div><div class="col" >Asmin</div><div class="col" >Tomatsauce, ost, kebab, kylling, champignon, creme fraice dressing, oregano</div><div class="col" >78,-</div>
</div>