<div class="row" ><div class="col" ><h4>Kaffe</h4></div></div>
<div class="row" >
    <div class="col" >Kaffe</div>
    <div class="col" >Normal kaffe</div>
    <div class="col" >20,-</div>
</div>
<div class="row" >
    <div class="col" >Irsk Kaffe</div>
    <div class="col" >Kaffe med sukker og whisky toppet med flødeskum</div>
    <div class="col" >55,-</div>
</div>
