<div class="row" ><div class="col" ><h4>Mexicana Pizza</h4></div></div>
<div class="row" >
    <div class="col" >55</div>
    <div class="col" >Super stærk</div>
    <div class="col" >Tomatsauce, ost, kebab, løg, kylling, pepperoni, jalepeños, chilisauce, oregano</div>
    <div class="col" >80,-</div>
</div>
<div class="row" >
    <div class="col" >56</div>
    <div class="col" >Amigo</div>
    <div class="col" >Tomatsauce, ost, oksekød, pepperoni, løg, rød peber, pølser, chilisauce, jalepeños, oregano</div>
    <div class="col" >80,-</div>
</div>
<div class="row" >
    <div class="col" >57</div>
    <div class="col" >Al Paso</div>
    <div class="col" >Tomatsauce, ost, skinke, kødsauce, champignon, bacon, pølser, chilisauce, jalepenos, oregano</div>
    <div class="col" >80,-</div>
</div>