<div class="row" ><div class="col" ><h4>Nachos Pizza</h4></div></div>
<div class="row" >
<div class="col" >220</div><div class="col" >Kylling</div><div class="col" >Tomatsauce, ost, nachos, cheddarost, kylling, rød peber, jalepeños, salsa</div><div class="col" >84,-</div>
</div><div class="row" >
<div class="col" >221</div><div class="col" >Nachos Pizza Kebab</div><div class="col" >Tomatsauce, ost, nachos cheddarost, kebab, pepperoni, jalepeños, salsa</div><div class="col" >86,-</div>
</div><div class="row" >
<div class="col" >222</div><div class="col" >Nachos Special</div><div class="col" >Tomatsauce, ost, nachos, cheddarost, skinke, oksekød, jalepeños, salsa</div><div class="col" >86,-</div>
</div>