<div class="row" ><div class="col" ><h4>Parma Pizza</h4></div></div>
<div class="row" >
<div class="col" >146</div><div class="col" >Parma 1</div><div class="col" >Tomatsauce, ost, parmaskinke, rucola, parmasanost, tomatskiver, olivenolie</div><div class="col" >87,-</div>
</div><div class="row" >
<div class="col" >147</div><div class="col" >Parma 2</div><div class="col" >Tomatsauce, ost, parmaskinke, oksekød, rucola, dressing</div><div class="col" >80,-</div>
</div>