<div class="row" ><div class="col" ><h4>Pitabrød</h4></div></div>
<div class="row" >
<div class="col" >103</div><div class="col" >Pita Kebab</div><div class="col" >Hjemmelavet brød med kebab, tomatskiver, agurk, dressing</div><div class="col" >49,-</div>
</div><div class="row" >
<div class="col" >104</div><div class="col" >Pita Kylling</div><div class="col" >Hjemmelavet brød med kylling, tomatskiver, agurk, dressing</div><div class="col" >49</div>
</div><div class="row" >
<div class="col" >105</div><div class="col" >Pita Tun</div><div class="col" >Hjemmelavet brød med tun, tomatskiver, agurk, dressing</div><div class="col" >49,-</div>
</div><div class="row" >
<div class="col" >106</div><div class="col" >Pita Rejer</div><div class="col" >Hjemmelavet brød med tun, tomatskiver, agurk, dressing</div><div class="col" >49,-</div>
</div><div class="row" >
<div class="col" >107</div><div class="col" >Sindal Kebab</div><div class="col" >Hjemmelavet brød med 200g. bøf, tomatskiver, agurk, dressing</div><div class="col" >59,-</div>
</div>
