<div class="row"><div class="col" ><h4>Pizza</h4></div></div>
<div class="row"><div class="col" >Vi bruger MozzarellaOst på alle vores pizzaer.</div></div>
<div class="row"><div class="col" ><i>Alle pizzaer kan laves som familiepizza til dobbelt pris.</i></div></div>
<div class="row"><div class="col" ><i>Alle pizzaer kan laves som glutenfri +35,-.</i></div></div>
<div class="row">
    <div class="col">1</div>
    <div class="col">Margherita</div>
    <div class="col">Tomatsauce, ost, oregano</div>
    <div class="col">55,-</div>
</div>
<div class="row">
    <div class="col">2</div>
    <div class="col">Vesuvio</div>
    <div class="col">Tomatsauce, ost, skinke, oregano</div>
    <div class="col">63,-</div>
</div>
<div class="row">
    <div class="col">3</div>
    <div class="col">Mamma's</div>
    <div class="col">Tomatsauce, ost, skinke, champignon, oregano</div>
    <div class="col">66,-</div>
</div>
<div class="row">
    <div class="col">4</div>
    <div class="col">Mamma Mia</div>
    <div class="col">Tomatsauce, ost, tunfisk, rejer, muslinger, oregano</div>
    <div class="col">74,-</div>
</div>
<div class="row">
    <div class="col">5</div>
    <div class="col">Gorgonzola</div>
    <div class="col">Tomatsauce, ost, rød peber, champignon, løg, gorgonzola-ost, oregano</div>
    <div class="col">69,-</div>
</div>
<div class="row">
    <div class="col">6</div>
    <div class="col">Ciao Ciao</div>
    <div class="col">Tomatsauce, ost, skinke, pepperoni, oregano</div>
    <div class="col">69,-</div>
</div>
<div class="row">
    <div class="col">7</div>
    <div class="col">Meat Lover</div>
    <div class="col">Tomatsauce, ost, skinke, kebab, pepperoni, pølser, bacon, chilisauce, hvidløg, oregano</div>
    <div class="col">84</div>
</div>
<div class="row">
    <div class="col">8</div>
    <div class="col">Alfredo</div>
    <div class="col">Tomatsauce, ost, skinke, bacon, æg, oregano</div>
    <div class="col">69,-</div>
</div>
<div class="row">
    <div class="col">9</div>
    <div class="col">Vegetarina</div>
    <div class="col">Tomatsauce, ost, champignon, løg, annanas, rød peber, oregano</div>
    <div class="col">66,-</div>
</div>
<div class="row">
    <div class="col">10</div>
    <div class="col">Firat</div>
    <div class="col">Tomatsauce, ost, kylling, bacon, annanas, karry, oregano</div>
    <div class="col">69,-</div>
</div>
<div class="row">
    <div class="col">11</div>
    <div class="col">Victoria</div>
    <div class="col">Tomatsauce, ost, skinke, champignon, annanas, løg, oregano</div>
    <div class="col">72,-</div>
</div>
<div class="row">
    <div class="col">12</div>
    <div class="col">Hawai</div>
    <div class="col">Tomatsauce, ost, skinke, annanas, oregano</div>
    <div class="col">69,-</div>
</div>
<div class="row">
    <div class="col">13</div>
    <div class="col">Gökhan</div>
    <div class="col">Tomatsauce, ost, kebab, pepperoni, løg, champignon, husets specialsauce, oregano</div>
    <div class="col">79,-</div>
</div>
<div class="row">
    <div class="col">14</div>
    <div class="col">Mille</div>
    <div class="col">Tomatsauce, ost, oksekød, fetaost, rød peber, løg, chilisauce, oregano</div>
    <div class="col">75,-</div>
</div>
<div class="row">
    <div class="col">15</div>
    <div class="col">Frandsen</div>
    <div class="col">Tomatsauce, ost, skinke, kødsauce, bearnaisesauce, oregano</div>
    <div class="col">70,-</div>
</div>
<div class="row">
<div class="col">16</div>
<div class="col">Pizza Bolognese</div>
<div class="col">Tomatsauce, ost, kødsauce, løg, oregano</div>
<div class="col">65,-</div>
</div>
<div class="row">
    <div class="col">17</div>
    <div class="col">Romana</div>
    <div class="col">Tomatsauce, ost, skinke, bacon, champignon, oregano</div>
    <div class="col">69,-</div>
</div>
<div class="row">
    <div class="col">18</div>
    <div class="col">Sorrento</div>
    <div class="col">Tomatsauce, ost, skinke, oksekød, oregano</div>
    <div class="col">69,-</div>
</div>
<div class="row">
    <div class="col">19</div>
    <div class="col">Special</div>
    <div class="col">Tomatsauce, ost, kødsauce, rød peber, løg, bacon, pepperoni, oregano</div>
    <div class="col">75,-</div>
</div>
<div class="row">
    <div class="col">20</div>
    <div class="col">Rimini</div>
    <div class="col">Tomatsauce, ost, oksekød, pepperoni, rød peber, oregano</div>
    <div class="col">70,-</div>
</div>
<div class="row">
    <div class="col">21</div>
    <div class="col">Hapsan</div>
    <div class="col">Tomatsauce, ost, skinke, kødsauce, rejer, bearnaisesauce, champignon, oregano</div>
    <div class="col">77,-</div>
</div>
<div class="row">
    <div class="col">22</div>
    <div class="col">Torino</div>
    <div class="col">Tomatsauce, ost, kødsauce, skinke, pølser, oregano</div>
    <div class="col">72,-</div>
</div>
<div class="row">
    <div class="col">23</div>
    <div class="col">Palermo</div>
    <div class="col">Tomatsauce, ost, skinke, kødsauce, chilisauce, jalepeños, oregano</div>
    <div class="col">69,-</div>
</div>
<div class="row">
    <div class="col">24</div>
    <div class="col">Alex</div>
    <div class="col">Tomatsauce, ost, skinke, champignon, rejer, muslinger, oliven, oregano</div>
    <div class="col">74,-</div>
</div>
<div class="row">
    <div class="col">25</div>
    <div class="col">Baba</div>
    <div class="col">Tomatsauce, ost, skinke, kødsauce, bacon, æg, løg, oregano</div>
    <div class="col">74,-</div>
</div>
<div class="row">
    <div class="col">26</div>
    <div class="col">Mads</div>
    <div class="col">Tomatsauce, ost, skinke, bacon, peproni, chilisauce, oregano</div>
    <div class="col">72,-</div>
</div>
<div class="row">
    <div class="col">27</div>
    <div class="col">Knirke</div>
    <div class="col">Tomatsauce, ost, kebab, rød peber, tomatskiver, bearnaisesauce</div>
    <div class="col">69,-</div>
</div>
<div class="row">
    <div class="col">28</div>
    <div class="col">Grande</div>
    <div class="col">Tomatsauce, ost, kebab, grøn peber, løg, tomatskiver, hvidløg, karry, oregano</div>
    <div class="col">69,-</div>
</div>
<div class="row">
    <div class="col">29</div>
    <div class="col">Zorro</div>
    <div class="col">Tomatsauce, ost, kebab, champignon, rød peber, løg, bearnaisesauce, oregano</div>
    <div class="col">74,-</div>
</div>
<div class="row">
    <div class="col">31</div>
    <div class="col">Gulan</div>
    <div class="col">Tomatsauce, ost, skinke, kebab, bacon, chilisauce, oregano</div>
    <div class="col">72,-</div>
</div>
<div class="row">
    <div class="col">32</div>
    <div class="col">Emine</div>
    <div class="col">Tomatsauce, ost, kebab, champignon, æg, løg, chilisauce, hvidløg, oregano</div>
    <div class="col">70,-</div>
</div>
<div class="row">
    <div class="col">33</div>
    <div class="col">Barbados</div>
    <div class="col">Tomatsauce, ost, skinke, kebab, majs, champignon, grøn peber, løg, oregano</div>
    <div class="col">75,-</div>
</div>
<div class="row">
    <div class="col">34</div>
    <div class="col">Berat</div>
    <div class="col">Tomatsauce, ost, tyrkisk salami (sucuk), fetaost, rød peber, pølser, chilisauce, oregano</div>
    <div class="col">79,-</div>
</div>
<div class="row">
    <div class="col">35</div>
    <div class="col">Byg selv pizza</div>
    <div class="col">Tomatsauce, ost, vælg selv 6 ting, du vil have på
    <br> (undtagen salat og pommes frites), 
    <br>serveres med oregano drysset over.</div>
<div class="col">84,-</div>
</div>
<div class="row">
<div class="col">36</div>
    <div class="col">Natalie</div>
    <div class="col">Tomatsauce, ost, skinke, kødsauce, pølser, peperoni, oregano</div>
    <div class="col">75,-</div>
</div>
<div class="row">
    <div class="col">37</div>
    <div class="col">Besiktas</div>
    <div class="col">Tomatsauce, ost, skinke, kødsauce, peperoni, rød peber, løg, oregano</div>
    <div class="col">75,-</div>
</div>
<div class="row">
    <div class="col">38</div>
    <div class="col">Papparazi</div>
    <div class="col">Tomatsauce, ost, skinke, kebab, oksekød, pølser, rød peber, oregano</div>
    <div class="col">75,-</div>
</div>
<div class="row">
    <div class="col">39</div>
    <div class="col">Aspendos</div>
    <div class="col">Tomatsauce, ost, kebab, champignon, løg, gorgonzola, rød peber, oregano</div>
    <div class="col">73,-</div>
</div>
<div class="row">
    <div class="col">40</div>
    <div class="col">Matador</div>
    <div class="col">Tomatsauce, ost, oksekød, oliven, løg, champignon, pepperoni, hvidløg, oregano</div>
    <div class="col">73,-</div>
</div>
<div class="row">
    <div class="col">41</div>
    <div class="col">Efes</div>
    <div class="col">Tomatsauce, ost, bacon, pølser, pepperoni, løg, rød peber, oregano</div>
    <div class="col">75,-</div>
</div>
<div class="row">
    <div class="col">42</div>
    <div class="col">>Amerikaner</div>
    <div class="col">Tomatsauce, ost, kødsauce, spaghetti, pølser, oregano</div>
    <div class="col">72,-</div>
</div>
<div class="row">
    <div class="col">43</div>
    <div class="col">A'La Rambo</div>
    <div class="col">Tomatsauce, ost, kebab, løg, bacon, rød peber, chilisauce, oregano</div>
    <div class="col">72,-</div>
</div>
<div class="row">
    <div class="col">44</div>
    <div class="col">Juventus</div>
    <div class="col">Tomatsauce, ost, skinke, kylling, anannas, kødsauce, karry, oregano</div>
    <div class="col">74,-</div>
</div>
<div class="row">
    <div class="col">45</div>
    <div class="col">Luca</div>
    <div class="col">Tomatsauce, ost, skinke, kebab, bacon, pølser, champignon, oregano</div>
    <div class="col">78,-</div>
</div>
<div class="row">
    <div class="col">46</div>
    <div class="col">Helle</div>
    <div class="col">Tomatsauce, ost, kebab, pepperoni, pølser, bearnaisesauce, oregano</div>
    <div class="col">75,-</div>
</div>
<div class="row">
    <div class="col">48</div>
    <div class="col">Simon</div>
    <div class="col">Tomatsauce, ost, skinke, kylling, bearnaisesauce, karry, oregano</div>
    <div class="col">74,-</div>
</div>
<div class="row">
    <div class="col">49</div>
    <div class="col">Martin</div>
    <div class="col">Tomatsauce, ost, spaghetti, kødsauce, kylling, pepperoni</div>
    <div class="col">75,-</div>
</div><div class="row">
    <div class="col">50</div>
    <div class="col">Venezia</div>
    <div class="col">Tomatsauce, ost, skinke, kebab, kødsauce, løg, rød peber, chilisauce, oregano</div>
    <div class="col">75,-</div>
</div>
<div class="row">
    <div class="col">51</div>
    <div class="col">Lars</div>
    <div class="col">Tomatsauce, ost, skinke, kødsauce, løg, bacon, kylling, pepperoni, oregano</div>
    <div class="col">77,-</div>
</div>
<div class="row">
    <div class="col">52</div>
    <div class="col">Oktay</div>
    <div class="col">Tomatsauce, ost, skinke, kødsauce, kylling, løg, rød peber, chilisauce, hvidløg, oregano</div>
    <div class="col">75,-</div>
</div> 