<div class="row" ><div class="col"><h4>Pommes Frites Pizza</h4></div></div>
<div class="row" >
    <div class="col" >54A</div>
    <div class="col" >Pommes Pizza</div>
    <div class="col" >Tomatsauce, ost, dressing samt valgfrit fyld, hvor der kan vælges mellem: 
    <br>- skinke, 
    <br>- kebab,
    <br>- pepperoni,
    <br>- tyrkisk salami,
    <br>- oksekød, 
    <br>- kylling</div>
    <div class="col" >84</div>
</div>