<div class="row"><div class="col"><h4>Salat Pizza</h4></div></div>
<div class="row">
    <div class="col">30</div>
    <div class="col">Zeki</div>
    <div class="col">Tomatsauce, ost, kebab, pepperoni, salat, agurk, tomatskiver, dressing</div>
    <div class="col">75,-</div>
</div>
<div class="row" >
    <div class="col">47</div>
    <div class="col">Totti</div>
    <div class="col">Tomatsauce, ost, kylling, peperoni, salat, agurk, tomatskiver, dressing</div>
    <div class="col">75,-</div>
</div>
<div class="row">
    <div class="col">53</div>
    <div class="col">Bari</div>
    <div class="col">Tomatsauce, ost, oksekød, jalepeños, salat, agurk, tomatskiver, dressing</div>
    <div class="col">75,-</div>
</div>
<div class="row">
    <div class="col">54</div>
    <div class="col">Italiano Salat</div>
    <div class="col">Pizzabund, kebab, salat, agurk, tomatskiver, dressing</div>
    <div class="col">75,- </div>
</div>