<div class="row" ><div class="col" ><h4>Spaghetti</h4></div></div>
<div class="row" >
<div class="col" >81</div><div class="col" >Spaghetti</div><div class="col" >Spaghetti med kødsauce</div><div class="col" >63,-</div>
</div><div class="row" >
<div class="col" >82</div><div class="col" >Spaghetti Bella Roma</div><div class="col" >med champignong, bacon, flødesauce</div><div class="col" >72,-</div>
</div><div class="row" >
<div class="col" >83</div><div class="col" >Spaghetti Special</div><div class="col" >med kebab, løg, rød peber, flødesauce</div><div class="col" >72,-</div>
</div><div class="row" >
<div class="col" >84</div><div class="col" >Spaghetti Carbonara</div><div class="col" >Spaghetti med bacon, æg og flødesauce</div><div class="col" >70,-</div>
</div><div class="row" >
<div class="col" >85</div><div class="col" >Spaghetti Pollo</div><div class="col" >med kylling, bacon, hvidløg, flødesauce</div><div class="col" >72,-</div>
</div><div class="row" >
<div class="col" >86</div><div class="col" >Spaghetti Bella Ciao</div><div class="col" >med skinke, pølser, flødesauce</div><div class="col" >72,-</div>
</div><div class="row" >
<div class="col" >87</div><div class="col" >Spaghetti Stærk</div><div class="col" >med kylling, rød peber, løg, jalepeños, flødesauce</div><div class="col" >72,-</div>
</div><div class="row" >
<div class="col" >87A</div><div class="col" >Spaghetti Reje</div><div class="col" >Med tigerrejer, krebsehaler, pesto, citron, flødesauce</div><div class="col" >72,-</div>
</div>
