<div class="row" ><div class="col" ><h4>Specialiteter</h4></div></div>
<div class="row" >
<div class="col" >134</div><div class="col" >Stjerneskud</div><div class="col" >2 stk. fiskefilet på brød med salat, mayonnaise, rejer, kaviar, asparges, og citron dressing</div><div class="col" >85,-</div>
</div><div class="row" >
<div class="col" >88</div><div class="col" >Græsk Bøf</div><div class="col" >200g. hakket oksebøf, med amerikanske pommes frites, champignonssauce, salat, dressing</div><div class="col" >89,-</div>
</div><div class="row" >
<div class="col" >89</div><div class="col" >Durum Kebab</div><div class="col" >Stort hjemmebagt fladbrød med kebab, salat, og dressing</div><div class="col" >65,-</div>
</div><div class="row" >
<div class="col" >90</div><div class="col" >Durum Kylling</div><div class="col" >Stort hjemmebagt fladbrød med kylling, salat, og dressing</div><div class="col" >65,-</div>
</div><div class="row" >
<div class="col" >91</div><div class="col" >Durum Mix</div><div class="col" >Stort hjemmebagt fladbrød med kebab, kylling, salat, og dressing</div><div class="col" >72,-</div>
</div><div class="row" >
<div class="col" >93</div><div class="col" >Plankebøf</div><div class="col" >200g bøf med amerikanske pommes frites, stegte løg, bearnaisesauce, salat, og dressing</div><div class="col" >79,-</div>
</div><div class="row" >
<div class="col" >94</div><div class="col" >Skinkeschnitzel</div><div class="col" >Skinkschnitzel med amerikanske pommes frites, bearnaisesauce, salat, dressing</div><div class="col" >76,-</div>
</div><div class="row" >
<div class="col" >95</div><div class="col" >Grillkylling</div><div class="col" >1/2 grillkylling med amerikanske pommes frites, salat, dressing, ketchup og remoulade</div><div class="col" >78,-</div>
</div><div class="row" >
<div class="col" >96</div><div class="col" >Fiskefilét</div><div class="col" >2 stk. fiskefilétter med amerikanske pommes frites, salat, dressing, ketchup og remoulade</div><div class="col" >74,-</div>
</div><div class="row" >
<div class="col" >97</div><div class="col" >Kebab Special</div><div class="col" >kebab, amerikanske pommes frites, hjemmelavet dressing, creme fraiche dressing, salat</div><div class="col" >79,-</div>
</div><div class="row" >
<div class="col" >98</div><div class="col" >Kylling Special</div><div class="col" >Kylling, amerikanske pommes frites, hjemmelavet dressing, creme fraiche dressing, salat</div><div class="col" >79,-</div>
</div><div class="row" >
<div class="col" >99</div><div class="col" >Spareribs</div><div class="col" >Spareribs med barbecuesause, amerikanske pommes frites, creme fraiche dressing, salat</div><div class="col" >79,-</div>
</div><div class="row" >
<div class="col" >100</div><div class="col" >Nuggets</div><div class="col" >12 stk. nuggets med amerikanske pommes frites, salat, dressing, ketchup og remoulade</div><div class="col" >83,-</div>
</div><div class="row" >
<div class="col" >102</div><div class="col" >Bilo's Special</div><div class="col" >Kebab, champignon, majs, grøn peber, rød peber, løg, salat, dressing, og hjemmebagt fladbrød</div><div class="col" >84,-</div>
</div><div class="row" >
<div class="col" >121</div><div class="col" >Engelsk Bøf</div><div class="col" >Oksefilét med amerikanske pommes frites, bearnaisesauce, salat, og dressing</div><div class="col" >189,-</div>
</div>
