<div class="row" ><div class="col" ><h4>Spiritus</h4></div></div>
<div class="row" >
<div class="col" >1S</div><div class="col" >Cognac 2 cl</div><div class="col" >Cognac</div><div class="col" >45,-</div>
</div><div class="row" >
<div class="col" >2S</div><div class="col" >Whisky 2 cl</div><div class="col" >Whisky</div><div class="col" >45,-</div>
</div><div class="row" >
<div class="col" >3S</div><div class="col" >Jägermeister 2 cl.</div><div class="col" >Jägermeister</div><div class="col" >45,-</div>
</div><div class="row" >
<div class="col" >4S</div><div class="col" >Gammel Dansk 2 cl</div><div class="col" >Gammel Dansk</div><div class="col" >54,-</div>
</div>
