<div class="row"><div class="col"><h4>Vand</h4></div></div>
<div class="row" >
    <div class="col" >Ramlösa Original 50 cl</div>
    <div class="col" >Mineralvand med brus</div>
    <div class="col" >35,-</div>
</div>
<div class="row" >
    <div class="col" >Ramlösa Citrus 50 cl</div>
    <div class="col" >Mineralvand med brus</div>
    <div class="col" >35,-</div>
</div>
<div class="row" >
    <div class="col" >Kildevæld 50 cl</div>
    <div class="col" >Mineralvand uden brus</div>
    <div class="col" >20,-</div>
</div>