<div class="row"><div class="col"><h4>Vand</h4></div></div>
<div class="row" >
    <div class="col" >
    <br>Vand med brus:
    <br>- Ramlösa Original (med brus)
    <br>- Ramlösa Citrus (med brus)
    </div>
    <div class="col" >35</div>
<div class="row" >
    <div class="col" >3D</div>
    <div class="col" >Sodavand 1,5 L <br/><i>Kun ud af huset.</i></div>
    <div class="col" >
    <br>vælg mellem: 
    <br>- Coca Cola 
    <br>- Coca Cola Light
    <br>- Fanta
    <br>- Sprite
    <br>- Lemon
    <br>- Dansk Vand
    <div class="col" >40</div>
</div>
</div><div class="row" >
    <div class="col" >4D</div>
    <div class="col" >Kildevæld</div>
    <div class="col" >Mineralvand uden brus</div>
    <div class="col" >20</div>
</div>