<div class="row" ><div class="col" ><h4>Vin</h4></div></div>
<div class="row" ><div class="col" ><i>Serveres med vand</i></div></div>
<div class="row" >
    <div class="col" >1 Glas Vin, vælg mellem:</div>
    <div class="col" >
        <br>- Husets Rødvin
        <br>- Husets Hvidvin 
        <br>- Husets Rosévin
    </div>
    <div class="col" >40,-</div>
</div>
<div class="row" >
    <div class="col" >1 Flaske Vin, vælg mellem: </div>
    <div class="col" >
    <br>- Husets Rødvin
    <br>- Husets Hvidvin
    <br>- Husets Rosévin </div>
    <div class="col" >169,-</div>
</div>
