<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MammasPizzaSindal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- HEADER -->
    <header>
        <nav id="navbar">
            <!-- LOGO -->
            <div id="logo">
                
            </div>
            <!-- NAVIGATION -->
            <a href="#contact-id">
                <div id="location-btn" class="nav-btn">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <p>Find os her</p>
                </div>
            </a>
            <a href="#opening-hours-id">
                <div class="nav-btn">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <p>Åbningstider</p>
                </div>
            </a>
           <a href="tel:004598935566">
            <div class="nav-btn">
                <i  class="fa fa-phone" aria-hidden="true"></i>
                <p>98 93 55 66</p>
            </div>
           </a>
        </nav>
    </header>
    <!-- CONTENT -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- FOOTER -->
    <footer id="footer">
    <div>
        <ul class="footer-list">
            <li class=" list-header">Find os</li>
            <li><partial name="_MapsGoogle.cshtml" /></li>
            <li>
                <br/>
                <p>
                    N&oslashrregade 18 - 9870 Sindal
                    <br/>Bestil på: <a class="h4 tlf" href="tel:004598935566">98 93 55 66</a>
                </p>
            </li>
        </ul>
    </div>

    <div class="opening-hours">
        <div class="opening-days-list">
            <ul class="footer-list">
                <li class=" list-header">Åbningstider</li>
                <li>Mandag - fredag:</li>
                <li>Lørdag:</li>
                <li>Søndag:</li>
            </ul>
        </div>
        <div class="opening-hours-list">
            <ul class="footer-list">
                <li id="opening-hours-title-display-none" class=" list-header">---</li>
                <li>11:00-22:00</li>
                <li>11:00-22:00</li>
                <li>12:00-22:00</li>
            </ul>
        </div>
       
    </div>
    
    <div>
        <ul class="footer-list">
            <li class="footer-item list-header">Om hjemmesiden</li>
            <li class="footer-item">
                Webside udbudt af <b>LM-CODES</b>.
                Kontakt for at få lavet en hjemmeside på:
                tlf.: 40 18 97 74
                og få en snak om de funktioner, netop du/I har brug for,
                så finder vi et godt tilbud til dig/Jer.
            </li>
        </ul>
    </div>
</footer>
   
  <!-- INCLUDE SCRIPTS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
