<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MammasPizzaSindal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- HEADER -->
    <header>
        <!-- NAVIGATION DESKTOP -->
    <nav id="navbar">
        <!-- DIV LOGO -->
        <div id="logo-div">
            <a href="#hero-section">
                <img id="logo-img" src="../img/Frame 1.png" alt="Logo">
            </a>
        </div>
        <!--END Logo Div-->
        <!-- LINKS NAVIGATION -->
        <a id="nav-menu-id" href="#meny-section">
            <div class="nav-btn hide">
                <i class="fa fa-cutlery" aria-hidden="true"></i>
                <p>Menu</p>
            </div>
        </a>
        <a id="nav-location-id" href="#contact-id">
            <div id="location-btn" class="nav-btn hide">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p>Find os</p>
            </div>
        </a>
        <a id="nav-opening-hours-id" href="#opening-hours-id">
            <div class="nav-btn hide">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <p>Åbningstider</p>
            </div>
        </a>
        <a id="nav-phone-id" href="tel:98935566">
            <div class="nav-btn hide">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>98 93 55 66</p>
            </div>
        </a>
        <!--END Navigation Links-->
        <!-- NAVIGATION MOBILE -->
        <a class="nav-btn" id="hamburger-btn">
            <!--open btn-->
            <i id="open-btn" class="fa fa-bars btn" aria-hidden="true"></i>
            <!--close btn-->
            <i id="close-btn" class="fa fa-times btn" aria-hidden="true"></i>
        </a>
        <!--END Mobile Navigation -->
    </nav>
    <!--END Navigation Desktop-->
    <!-- NAVIGATION MOBILE HAMBURGUR MENU -->
    <nav id="mobile-hamburger-menu">
        <a id="nav-menu-id" href="#meny-section">
            <div onclick="closeMenu()" class="nav-btn">
                <i class="fa fa-cutlery" aria-hidden="true"></i>
                <p>Menu</p>
            </div>
        </a>
        <a id="nav-location-id" href="#contact-id">
            <div onclick="closeMenu()" id="location-btn" class="nav-btn">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p>Finde her</p>
            </div>
        </a>
        <a id="nav-opening-hours-id" href="#opening-hours-id">
            <div onclick="closeMenu()" class="nav-btn">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <p>Åbningstider</p>
            </div>
        </a>
        <a id="nav-phone-id" href="tel:98935566">
            <div class="nav-btn">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>98 93 55 66</p>s
            </div>
        </a>
    </nav>
    <!--END Mobile Hamburger Menu-->
    </header>
    <!-- CONTENT -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- FOOTER -->
    <footer onclick="closeMenu()" id="footer">
        <div>
            <ul class="footer-list">
                <li class=" list-header">Find vej</li>
                <li><partial name="_MapsGoogle" /></li>
            </ul>
        </div>

        <div>
            <ul class="footer-list">
                <li class="footer-item list-header">Webmaster</li>
                <li class="footer-item">
                    Webside udbudt af <i>LM-Codes</i>.
                    Kontakt for at få lavet en hjemmeside på:
                    tlf.: 40 18 97 74
                    og få en snak om de funktioner, netop du/I har brug for,
                    så finder vi et godt tilbud til dig/Jer.
                </li>
            </ul>
        </div>
    </footer>
    <!--END Footer-->
   
  <!-- INCLUDE SCRIPTS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
