
<div id="map" class="mapouter">
  <div class="gmap_canvas">
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2145.352306943205!2d10.200434115900423!3d57.47233548104808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464f330f2a90ba79%3A0x6f91d0ddf84c0b2f!2sMammas%20Pizza%20og%20Kebab%20House!5e0!3m2!1sen!2sdk!4v1646690179141!5m2!1sen!2sdk" 
        width="200" 
        height="200" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy">
    </iframe>
</div>
</div>
  <style>
    .mapouter{
      position:relative;
      text-align:right;
      height:200px;
      width:200px;
    }
    .gmap_canvas{
      overflow:hidden;
      background:none!important;
      height:200px;
      width:200px;
      border: 2px solid black;
      box-shadow: 5px 5px 10px black;
      border-radius: 25px;
    }
  </style>