@{
    ViewData["Title"] = "Om Os";
}

<div class="row">
<!-- NYHEDER -------------------------------------------------------------------->
    <div class="col-sm-4">
        <div class="news">
            <h2>Nyheder</h2>
            <hr/>
                <h4 class="news-title">Fra Webmaster: Menukort oppe</h4>
                <p>
                    Menukort er oppe på siden nu (i en work-around version). Websiden har en masse teknisk bagliggende,<br/>
                    hvor facelift (design) og flere funktioner kommer på.<br/>
                    Den lidt længe nede-tid (downtown) beklages meget - dette grundet i forskelle i versioner af bagvedliggende <br />
                    teknologi. 
                <p>
                    <hr/>
                <h4 class="news-title">Fra Webmaster: Webside med Ny teknologi</h4>
                <p>
                    Websiden er igang med en omfattende opdatering lavet med ny teknologi indenfor webudvikling.<br/>
                    Koden og teknologien bag siden muligør mange nye funktioner, højere sikkerhed of smartere adgang<br/>
                    restaurantens gæster samt medarbejdere.<br/>
                    De nye moduler vil komme på gradvist, så der fremover altid vil være en webside klar uden nedetid (downtime).
                <p>
            <hr/>
                <h4 class="news-title">Fra Webmaster: Webside</h4>
                <p>
                    Pizzariaet har nu f&aringet en webside, hvor der l&oslashbende vil komme flere funktioner til.<br/>
                <p>
            <hr/>
                <h4 class="news-title">Facebook</h4>
                <p>
                F&oslashlg med p&aring vores facebook-side og g&aring ikke glip af
                sp&aeligndende opslag.
                </p>
        </div><!--END news-->
        <br/>
   </div><!--END col-left-->
<!-- CONTENT -------------------------------------------------------------------->   
    <div class="col-sm-8 round-border-div" style="background-image: url('img/pizzaroundopa.png'); background-repeat: no-repeat; background-size: 100%; background-position: center center;">    
      <h2>Velkommen til Mamma's Pizza & Restaurant.</h2>
      <!--<img class="indeximg" src="img/pizzaround.png">-->
      	<p>
          Med 25 &aringrs erfaring inden for branchen laver vi p&aring Mamma's Pizza & Restaurant mad med k&aeligrlighed, da vi har en stor passion for god madlavning
          og l&aegger en &aeligre i, at give vores kunder en god oplevelse i smukke og hyggelige omgivelser.
          <br>
          <br>
          <br>G&oslashr din dag lidt lette, spring madlavningen kom og f&aring l&aeligkker mad fra os.
          <br>Vi har en menu med et bredt udvalg, hvor du finder noget for en hver smag. 
          <br>
          <br>Hos os finder du b&aringde mad til hverdagen, noget hurtigt p&aring vejen, og til dage med
          <br>lidt ekstra fork&aeliglelse, hvor vi bl.a. tilbyder steak, der kan nydes med l&aeligkre drikkevarer.
          <br>
          <br>S&aring skal hverdagen piftes op med en hyggeligt tur p&aring restaurant, kan I komme til vores flotte
          <br>restaurant og blive fork&aeliglet med forret, hovedret, desert og fine drikkevarer til og efter maden.
          <br>
          <br>Er du ude efter frokost, har vi specielle frokosttilbud af et udvalg fra menuen. 
          <br>Har du lyst til pizza har vi et bredt udvalg af forskellige typer og sp&aeligndene pizzaer.
          <br>F&aring mad til hele familien, hvor vi naturligvis har en speciel b&oslashrnemenu til b&oslashrnene.
          <br>
          <br>Se vores menukort, og find lige pr&aeligcis det, du har lyst til, hvor du kan v&aeliglge mellem:
    	</p>
      <p class="text-muted">
        Frokost tilbud, Pizza, Salat Pizza, Pommes Frites Pizza, Mexicana Pizza, Nachos Pizza, Parma Pizza, Indbagt Pizza, Halvindbagt Pizza, Dobbeltindbagt Pizza,
        Baguette Sandwich, Ekstra tilbeh&oslashr, B&oslashrnemenu, Hjemmelavet Sandwich, Pastaretter, Specialretter, Burger, Pitabr&oslashd, Forretter, Steak, Isdesserter, Kaffe, Drikkevarer, Spiritus, Vin.
      </p>
  	</div><!--END content col-right>-->
</div><!--END row-->