<section id="hero-section">
    <CENTER><!--Move to css-->
    <img src="img/MPSbygning.jpg" alt="" height="300"> <!--Style in css-->
    <article>
        <div>
            <h1><span class="h1Special">Vi laver mad med kærlighed</span></h1>
        </div>
    </article>
    </CENTER><!--delete when property moved to css-->
</section>