@{
    ViewData["Title"] = "Index";
}
<h3>Ring og bestil på <br/> <a class="h4 tlf" href="tel:004598935566">98 93 55 66</a></h3>
<table class="table table-responsive">
<tr><td colspan=4><h4>Frokost Tilbud</h4></td></tr>
<tr>
<td>1F</td><td>Pizza</td><td>Vælg mellem: 
<br>nr.: 1 - 63 </td><td>55</td>
</tr><tr>
<td>2F</td><td>Durum</td><td>Vælg mellem: 
<br>nr.: 89, 90, 91 </td><td>55</td>
</tr>
<tr><td colspan=4><h4>Pizza</h4></td></tr>
<tr>
<td>1</td><td>Margherita</td><td>Tomatsauce, ost, oregano</td><td>55,-</td>
</tr><tr>
<td>2</td><td>Vesuvio</td><td>Tomatsauce, ost, skinke, oregano</td><td>63,-</td>
</><tr>
<td>3</td><td>Mamma's</td><td>Tomatsauce, ost, skinke, champignon, oregano</td><td>66,-</td>
</tr><tr>
<td>4</td><td>Mamma Mia</td><td>Tomatsauce, ost, tunfisk, rejer, muslinger, oregano</td><td>74,-</td>
</tr><tr>
<td>5</td><td>Gorgonzola</td><td>Tomatsauce, ost, rød peber, champignon, løg, gorgonzola-ost, oregano</td><td>69,-</td>
</tr><tr>
<td>6</td><td>Ciao Ciao</td><td>Tomatsauce, ost, rød peber, champignon, løg, gorgonzola-ost, oregano</td><td>69,-</td>
</tr><tr>
<td>7</td><td>Meat Lover</td><td>Tomatsauce, ost, skinke, kebab, pepperoni, pølser, bacon, chilisauce, hvidløg, oregano</td><td>84</td>
</tr><tr>
<td>8</td><td>Alfredo</td><td>Tomatsauce, ost, skinke, bacon, æg, oregano</td><td>69,-</td>
</tr><tr>
<td>9</td><td>Vegetarina</td><td>Tomatsauce, ost, champignon, løg, annanas, rød peber, oregano</td><td>66,-</td>
</tr><tr>
<td>10</td><td>Firat</td><td>Tomatsauce, ost, kylling, bacon, annanas, karry, oregano</td><td>69,-</td>
</tr><tr>
<td>11</td><td>Victoria</td><td>Tomatsauce, ost, skinke, champignon, annanas½, løg, oregano</td><td>72,-</td>
</tr><tr>
<td>12</td><td>Hawai</td><td>Tomatsauce, ost, skinke, annanas, oregano</td><td>69,-</td>
</tr><tr>
<td>13</td><td>Gökhan</td><td>Tomatsauce, ost, kebab, pepperoni, løg, champignon, husets specialsauce, oregano</td><td>79,-</td>
</tr><tr>
<td>14</td><td>Mille</td><td>Tomatsauce, ost, oksekød, fetaost, rød peber, løg, chilisauce, oregano</td><td>75,-</td>
</tr><tr>
<td>15</td><td>Frandsen</td><td>Tomatsauce, ost, kødsauce, skinke, bearnaisesauce, oregano</td><td>70,-</td>
</tr><tr>
<td>16</td><td>Pizza Bolognese</td><td>Tomatsauce, ost, kødsauce, skinke, bearnaisesauce, oregano</td><td>65,-</td>
</tr><tr>
<td>17</td><td>Romana65</td><td>Tomatsauce, ost, skinke, bacon, champignon, oregano</td><td>65,-</td>
</tr><tr>
<td>18</td><td>Sorrento69</td><td>Tomatsauce, ost, skinke, oksekød, oregano</td><td>69,-</td>
</tr><tr>
<td>19</td><td>Special</td><td>Tomatsauce, ost, kødsauce, rød peber, løg, bacon, pepperoni, oregano</td><td>75,-</td>
</tr><tr>
<td>20</td><td>Rimini</td><td>Tomatsauce, ost, oksekød, pepperoni, rød peber, oregano</td><td>70,-</td>
</tr><tr>
<td>21</td><td>Hapsan</td><td>Tomatsauce, ost, skinke, kødsauce, rejer, champignon, bearnaisesauce, oregano</td><td>77,-</td>
</tr><tr>
<td>22</td><td>Torino</td><td>Tomatsauce, ost, kødsauce, skinke, pølser, oregano</td><td>72,-</td>
</tr><tr>
<td>23</td><td>Palermo</td><td>Tomatsauce, ost, kødsauce, skinke, chili, jalepeños, oregano</td><td>69,-</td>
</tr><tr>
<td>24</td><td>Alex74</td><td>Tomatsauce, ost, skinke, champignon, rejer, muslinger, oliven, oregano</td><td>74,-</td>
</tr><tr>
<td>25</td><td>Baba</td><td>Tomatsauce, ost, skinke, kødsauce, bacon, æg, løg, oregano</td><td>74,-</td>
</tr><tr>
<td>26</td><td>Mads</td><td>Tomatsauce, ost, skinke, bacon, pepperoni, chilisauce, oregano</td><td>72,-</td>
</tr><tr>
<td>27</td><td>Knirke</td><td>Tomatsauce, ost, skinke, bacon, pepperoni, chilisauce, oregano</td><td>69,-</td>
</tr><tr>
<td>28</td><td>Grande</td><td>Tomatsauce, ost, kebab, rød peber, tomatskiver, bearnaisesauce, oregano</td><td>69,-</td>
</tr><tr>
<td>29</td><td>Zorro</td><td>Tomatsauce, ost, kebab, champignon, rød peber, løg, bearnaisesauce, oregano</td><td>74,-</td>
</tr><tr>
<td>31</td><td>Gulan</td><td>Tomatsauce, ost, skinke, kebab, bacon, chilisauce, oregano</td><td>72,-</td>
</tr><tr>
<td>32</td><td>Emine</td><td>Tomatsauce, ost, kebab, champignon, æg, løg, chili, hvidløg, oregano</td><td>68,-</td>
</tr><tr>
<td>33</td><td>Barbados</td><td>Tomatsauce, ost, skinke, kebab, majs, champignon, grøn peber, løg, oregano</td><td>75,-</td>
</tr><tr>
<td>34</td><td>Berat</td><td>Tomatsauce, ost, tyrkisk salami, fetaost, rød peber, pølser, chilisauce, oregano</td><td>79,-</td>
</tr><tr>
<td>35</td><td>Byg selv</td><td>Tomatsauce, ost, vælg selv 6 ting, du vil have på
<br> (undtagen salat og pommes frites), 
<br>serveres med oregano drysset over.</td><td>84,-</td>
</tr><tr>
<td>36</td><td>Natalie</td><td>Tomatsauce, ost, skinke, kødsauce, pølser, peperoni, oregano</td><td>75,-</td>
</tr><tr>
<td>37</td><td>Besiktas</td><td>Tomatsauce, ost, skinke, kødsauce, peperoni, rød peber, løg, oregano</td><td>75,-</td>
</tr><tr>
<td>38</td><td>Papparazi</td><td>Tomatsauce, ost, skinke, kebab, oksekød, pølser, rød peber, oregano</td><td>75,-</td>
</tr><tr>
<td>39</td><td>Aspendos</td><td>Tomatsauce, ost, kebab, champignon, løg, gorgonzola, rød peber, oregano</td><td>73,-</td>
</tr><tr>
<td>40</td><td>Matador</td><td>Tomatsauce, ost, oksekød, oliven, løg, champignon, pepperoni, hvidløg, oregano</td><td>73,-</td>
</tr><tr>
<td>41</td><td>Efes</td><td>Tomatsauce, ost, bacon, pølser, pepperoni, løg, rød peber, oregano</td><td>75,-</td>
</tr><tr>
<td>42</td><td>>Amerikaner</td><td>Tomatsauce, ost, kødsauce, spaghetti, pølser, oregano</td><td>72,-</td>
</tr><tr>
<td>43</td><td>A'La Rambo</td><td>Tomatsauce, ost, kebab, løg, bacon, rød peber, chilisauce, oregano</td><td>72,-</td>
</tr><tr>
<td>44</td><td>Juventus</td><td>Tomatsauce, ost, skinke, kylling, anannas, kødsauce, karry, oregano</td><td>74,-</td>
</tr><tr>
<td>46</td><td>Helle</td><td>Tomatsauce, ost, kebab, pepperoni, pølser, bearnaisesauce, oregano</td><td>75,-</td>
</tr><tr>
<td>48</td><td>Simon</td><td>Tomatsauce, ost, skinke, kylling, bearnaisesauce, karry, oregano</td><td>75,-</td>
</tr><tr>
<td>49</td><td>Martin</td><td>Tomatsauce, ost, spaghetti, kødsauce, løg, rød peber, chilisauce, oregano</td><td>75,-</td>
</tr><tr>
<td>50</td><td>Venezia</td><td>Tomatsauce, ost, skinke, kebab, kødsauce, løg, rød peber, chilisauce, oregano</td><td>75,-</td>
</tr><tr>
<td>51</td><td>Lars</td><td>Tomatsauce, ost, skinke, kødsauce, løg, bacon, kylling, pepperoni, oregano</td><td>77,-</td>
</tr><tr>
<td>52</td><td>Oktay</td><td>Tomatsauce, ost, skinke, kødsauce, kylling, løg, rød peber, chilisauce, hvidløg, oregano</td><td>75,-</td>
</tr><tr>
<td>154</td><td>Luca</td><td>Tomatsauce, ost, skinke, kebab, bacon, pølser, champignon, oregano</td><td>78</td>
</tr>
<tr><td colspan=4><h4>Salat Pizza</h4></td></tr>
<tr>
<td>30</td><td>Zeki</td><td>Tomatsauce, ost, kebab, pepperoni, salat, agurk, tomatskiver, dressing</td><td>75,-</td>
</tr><tr> 
<td>47</td><td>Totti</td><td>Tomatsauce, ost, kylling, peperoni, salat, agurk, tomatskiver, dressing</td><td>75,-</td>
</tr><tr>
<td>53</td><td>Bari</td><td>Tomatsauce, ost, oksekød, jalepeños, salat, agurk, tomatskiver, dressing</td><td>75,-</td>
</tr><tr>
<td>54</td><td>Italiano Salat</td><td>Pizzabund med kebab, salat, agurk, tomatskiver, dressing</td><td>75,- </td>
</tr>
<tr><td colspan=4><h4>Pommes Frites Pizza</h4></td></tr>
<tr><td><h4>Pommes Frites Pizza</h4></td></tr>
<tr>
<td>54A</td><td>Pommes Pizza</td><td>Med tomatsauce, ost dressing samt valgfrit fyld, hvor der kan vælges mellem: 
<br>- skinke, 
<br>- kebab,
<br>- pepperoni,
<br>- tyrkisk salami,
<br>- oksekød, 
<br>- kylling</td><td>84</td>
</tr>
<tr><td colspan=4><h4>Mexicana Pizza</h4></td></tr>
<tr>
<td>55</td><td>Super stærk</td><td>Tomatsauce, ost, kebab, løg, kylling, pepperoni, jalepeños, chilisauce, oregano</td><td>80,-</td>
</tr><tr>
<td>56</td><td>Amigo</td><td>Tomatsauce, ost, oksekød, pepperoni, løg, rød peber, pølser, chilisauce, jalepeños, oregano</td><td>80,-</td>
</tr><tr>
<td>57</td><td>Al Paso</td><td>Tomatsauce, ost, skinke, kødsauce, champignon, bacon, pølser, chilisauce, jalepenos, oregano</td><td>80,-</td>
</tr>
<tr><td colspan=4><h4>Nachos Pizza</h4></td></tr>
<tr>
<td>220</td><td>Kylling</td><td>Tomatsauce, ost, nachos, cheddarost, kylling, rød peber, jalepeños, salsa</td><td>84,-</td>
</tr><tr>
<td>221</td><td>Nachos Pizza Kebab</td><td>Tomatsauce, ost, nachos cheddarost, kebab, pepperoni, jalepeños, salsa</td><td>86,-</td>
</tr><tr>
<td>222</td><td>Nachos Special</td><td>Tomatsauce, ost, nachos, cheddarost, skinke, oksekød, jalepeños, salsa</td><td>86,-</td>
</tr>
<tr><td colspan=4><h4>Parma Pizza</h4></td></tr>
<tr>
<td>146</td><td>Parma 1</td><td>Tomatsauce, ost, parmaskinke, rucola, parmasanost, tomatskiver, olivenolie</td><td>87,-</td>
</tr><tr>
<td>147</td><td>Parma 2</td><td>Tomatsauce, ost, parmaskinke, oksekød, rucola, dressing</td><td>80,-</td>
</tr>
<tr><td colspan=4><h4>Indbagt Pizza</h4></td></tr>
<tr>
<td>58</td><td>Calzone</td><td>Tomatsauce, ost, skinke, rejer, oregano</td><td>70,-</td>
</tr><tr>
<td>59</td><td>Pizza Spaghetti</td><td>Tomatsauce, ost, spaghetti, kødsauce, oregano</td><td>70,-</td>
</tr><tr>
<td>60</td><td>Mamma Mia</td><td>Tomatsauce, ost, løg, champignon, kebab, chilisauce, hvidløg, oregano</td><td>70,-</td>
</tr><tr>
<td>60A</td><td>Asmin</td><td>Tomatsauce, ost, kebab, kylling, champignon, creme fraice dressing, oregano</td><td>78,-</td>
</tr>
<tr><td colspan=4><h4>Halvindbagt Pizza</h4></td></tr>
<tr>
<td>61</td><td>Verona</td><td>Tomatsauce, ost, skinke, kebab, bearnaisesauce, oregano</td><td>75,-</td>
</tr><tr>
<td>62</td><td>Napoli</td><td>Tomatsauce, ost, kebab, pepperoni, bacon, chilisauce, hvidløg, oregano</td><td>75,-</td>
</tr><tr>
<td>63</td><td>Roma</td><td>Tomatsauce, ost, skinke, kødsauce, pølser, anannas, oregano</td><td>75,-</td>
</tr>
<tr><td colspan=4><h4>Dobbeltindbagt Pizza</h4></td></tr>
<tr>
<td>64</td><td>UFO</td><td>Tomatsauce, ost, skinke, champignon, rejer, oregano</td><td>84,-</td>
</tr><tr>
<td>65</td><td>Alanya</td><td>Tomatsauce, ost, kebab, løg, bearnaisesauce, pepperoni, oregano</td><td>84,-</td>
</tr><tr>
<td>65A</td><td>Nisa</td><td>Tomatsauce, ost, kebab, løg, kylling, pølser, bearnaisesauce, oregano</td><td>84,-</td>
</tr>
<tr><td colspan=4><h4>Ekstra tilbehør</h4></td></tr>
<tr>
<td>1X</td><td>Grøntsager</td><td>Pris pr. del</td><td>7,-</td>
</tr><tr>
<td>2X</td><td>Kød, Frisk eller Ost</td><td>pris pr. del</td><td>12,-</td>
</tr><tr>
<td>3X</td><td>Salat</td><td>Salat på pizza</td><td>13,-</td>
</tr><tr>
<td>4X</td><td>Dessing eller Sauce</td><td>Få dressing eller sauce</td><td>8,-</td>
</tr><tr>
<td>5X</td><td>Ekstra fyld på pizza</td><td>Få noget ekstra fyld på din pizza.</td><td>20,-</td>
</tr><tr>
<td>6X</td><td>Chili eller Hvidløg</td><td>Chilisauce eller hvidløg i bæger ved siden af.</td><td>8,-</td>
</tr><tr>
<td>7X</td><td>Flûtes</td><td>Få flûte ved siden af</td><td>20,-</td>
</tr>
<tr><td colspan=4><h4>Børnemenu</h4></td></tr>
<tr>
<td>66</td><td>Chello Pizza</td><td>Tomatsauce, ost, skinke</td><td>47,-</td>
</tr><tr>
<td>67</td><td>Emre's Pizza</td><td>Tomatsauce, ost, pølser</td><td>47,-</td>
</tr><tr>
<td>68</td><td>Spaghetti</td><td>Spaghetti med kødsauce</td><td>47,-</td>
</tr><tr>
<td>69</td><td>Fiskefilét</td><td>med 1 fisk, amerikanske pommes frites, ketchup og remoulade</td><td>47,-</td>
</tr><tr>
<td>70</td><td>Pølsemix</td><td>Pølser med amerikanske pommmes frites, ketchup og remoulade</td><td>47,-</td>
</tr><tr>
<td>71</td><td>Nuggets</td><td>6 stk. nuggets med amerikanske pommes frites, ketchup og remoulade</td><td>47,-</td>
</tr>
<tr><td colspan=4><h4>Hjemmelavet Sandwich</h4></td></tr>
<tr>
<td>115</td><td>Sandwich Kylling</td><td>med kylling, salat, tomat, agurk, dressing</td><td>68,-</td>
</tr><tr>
<td>166</td><td>Sandwich Kebab</td><td>med kebab, salat, tomat, agurk dressing</td><td>68,-</td>
</tr><tr>
<td>117</td><td>Sandwich Kylling Tzaziki</td><td>med kylling, tzaziki, salat, tomat, agurk</td><td>68,-</td>
</tr><tr>
<td>118</td><td>Sandwich Kylling Bacon</td><td>med kylling, bacon, salat, hvidløg, tomat, agurk, creme fraiche dressing</td><td>72,-</td>
</tr><tr>
<td>119</td><td>Sandwich Oksekød Kylling</td><td>med oksekød, kylling, salat, tomat, agurk, creme fraiche dressing</td><td>72,-</td>
</tr>
<tr><td colspan=4><h4>Pastaretter</h4></td></tr>
<tr>
<td>81</td><td>Spaghetti</td><td>Spaghetti med kødsauce</td><td>63,-</td>
</tr><tr>
<td>82</td><td>Spaghetti Bella Roma</td><td>med champignong, bacon, flødesauce</td><td>72,-</td>
</tr><tr>
<td>83</td><td>Spaghetti Special</td><td>med kebab, løg, rød peber, flødesauce</td><td>72,-</td>
</tr><tr>
<td>84</td><td>Spaghetti Carbonara</td><td>Spaghetti med bacon, æg og flødesauce</td><td>70,-</td>
</tr><tr>
<td>85</td><td>Spaghetti Pollo</td><td>med kylling, bacon, hvidløg, flødesauce</td><td>72,-</td>
</tr><tr>
<td>86</td><td>Spaghetti Bella Ciao</td><td>med skinke, pølser, flødesauce</td><td>72,-</td>
</tr><tr>
<td>87</td><td>Spaghetti Stærk</td><td>med kylling, rød peber, løg, jalepeños, flødesauce</td><td>72,-</td>
</tr><tr>
<td>87A</td><td>Spaghetti Reje</td><td>Med tigerrejer, krebsehaler, pesto, citron, flødesauce</td><td>72,-</td>
</tr>
<tr><td colspan=4><h4>Specialiteter</h4></td></tr>
<tr>
<td>134</td><td>Stjerneskud</td><td>2 stk. fiskefilet på brød med salat, mayonnaise, rejer, kaviar, asparges, og citron dressing</td><td>85,-</td>
</tr><tr>
<td>88</td><td>Græsk Bøf</td><td>200g. hakket oksebøf, med amerikanske pommes frites, champignonssauce, salat, dressing</td><td>89,-</td>
</tr><tr>
<td>99</td><td>Durum Kebab</td><td>Stort hjemmebagt fladbrød med kebab, salat, og dressing</td><td>65,-</td>
</tr><tr>
<td>90</td><td>Durum Kylling</td><td>Stort hjemmebagt fladbrød med kylling, salat, og dressing</td><td>65,-</td>
</tr><tr>
<td>91</td><td>Durum Mix</td><td>Stort hjemmebagt fladbrød med kebab, kylling, salat, og dressing</td><td>72,-</td>
</tr><tr>
<td>93</td><td>Plankebøf</td><td>200g bøf med amerikanske pommes frites, stegte løg, bearnaisesauce, salat, og dressing</td><td>79,-</td>
</tr><tr>
<td>94</td><td>Skinkeschnitzel</td><td>Skinkschnitzel med amerikanske pommes frites, bearnaisesauce, salat, dressing</td><td>76,-</td>
</tr><tr>
<td>95</td><td>Grillkylling</td><td>1/2 grillkylling med amerikanske pommes frites, salat, dressing, ketchup og remoulade</td><td>78,-</td>
</tr><tr>
<td>96</td><td>Fiskefilét</td><td>2 stk. fiskefilétter med amerikanske pommes frites, salat, dressing, ketchup og remoulade</td><td>74,-</td>
</tr><tr>
<td>97</td><td>Kebab Special</td><td>kebab, amerikanske pommes frites, hjemmelavet dressing, creme fraiche dressing, salat</td><td>79,-</td>
</tr><tr>
<td>107</td><td>Kylling Special</td><td>Kylling, amerikanske pommes frites, hjemmelavet dressing, creme fraiche dressing, salat</td><td>79,-</td>
</tr><tr>
<td>100</td><td>Nuggets</td><td>12 stk. nuggets med amerikanske pommes frites, salat, dressing, ketchup og remoulade</td><td>83,-</td>
</tr><tr>
<td>102</td><td>Bilo's Special</td><td>Kebab, champignon, majs, grøn peber, rød peber, løg, salat, dressing, og hjemmebagt fladbrød</td><td>84,-</td>
</tr><tr>
<td>121</td><td>Engelsk Bøf</td><td>Oksefilét med amerikanske pommes frites, bearnaisesauce, salat, og dressing</td><td>189,-</td>
</tr>
<tr><td colspan=4><h4>Burger</h4></td></tr>
<tr>
<td>108</td><td>Dobbelt Burger</td><td>med 2 stk. bøf, salat, tomatskiver, agurk, ketchup, mayonaise, og burgerdressing</td><td>55,-</td>
</tr><tr>
<td>109</td><td>Big Burger</td><td>med bøf, salat, tomatskiver, agurk, ketchup, mayonaise, og burgerdressing</td><td>49,-</td>
</tr><tr>
<td>110</td><td>Cheese Burger</td><td>med bøf, ost, salat, tomatskriver, agurk, ketchup, mayonaise, og birgerdressing</td><td>52,-</td>
</tr><tr>
<td>111</td><td>Klassisk Burger</td><td>med hjemmelavet oksebøf på 200g., salat, tomatskiver, agurk, ketchup, mayonaise, og burgerdressing</td><td>67,-</td>
</tr><tr>
<td>135</td><td>Chicken Burger</td><td>med kyllingebøf, salat, tomatskiver, agurk, creme fraische</td><td>62,-</td>
</tr><tr>
<td>112</td><td>American Burger</td><td>med 200g hjemmelavet oksekød, brød, ost, tomatskiver, agurk, salat, hvidløgsmayonnaise, amerikanske frites</td><td>85,-</td>
</tr><tr>
<td>113</td><td>Mamma's Special</td><td>med hjemmelavet oksebøf på 200g. med bacon, ost, salat, tomatskiver, agurk, ketchup, mayonnaise, og burgerdressing</td><td>72,-</td>
</tr><tr>
<td>142</td><td>Team-Box</td><td>4 stk. mozzarella sticks, 4 stk. løgringe, 4 stk. chili cheese tops, amerikanske frites, ketchup, hvidløgsmayonnaise</td><td>79,-</td>
</tr><tr>
<td>114</td><td>Amerikanske Frites</td><td>Amerikanske pommes frites</td><td>35,-</td>
</tr>
<tr><td colspan=4><h4>Pitabrød</h4></td></tr>
<tr>
<td>103</td><td>Pita Kebab</td><td>Hjemmelavet brød med kebab, tomatskiver, agurk, dressing</td><td>49,-</td>
</tr><tr>
<td>104</td><td>Pita Kylling</td><td>Hjemmelavet brød med kebab, tomatskiver, agurk, dressing</td><td>49</td>
</tr><tr>
<td>105</td><td>Pita Tun</td><td>Hjemmelavet brød med tun, tomatskiver, agurk, dressing</td><td>49,-</td>
</tr><tr>
<td>106</td><td>Pita Rejer</td><td>Hjemmelavet brød med tun, tomatskiver, agurk, dressing</td><td>49,-</td>
</tr><tr>
<td>107</td><td>Sindal Kebab</td><td>Hjemmelavet brød med 200g. bøf, tomatskiver, agurk, dressing</td><td>59,-</td>
</tr>
<tr><td colspan=4><h4>Forretter</h4></td></tr>
<tr>
<td>123</td><td>Tzaziki</td><td>Tzaziki med brød</td><td>59,-</td>
</tr><tr>
<td>73</td><td>Nachos</td><td>Nachos med cheddarost, salsa, guacamole, creme fraische dressing</td><td>59,-</td>
</tr><tr>
<td>75</td><td>Calamari</td><td>10 stk. indbagte rejer med citronskive og dressing</td><td>59,-</td>
</tr><tr>
<td>76</td><td>Hvidløgsbrød</td><td>med ost</td><td>40,-</td>
</tr><tr>
<td>77</td><td>Nachos Kylling</td><td>Nachos med cheddarost, kylling, salsa, creme fraische, guacamole</td><td>62,-</td>
</tr><tr>
<td>78</td><td>Nachos Kebab</td><td>Nachos med cheddarost, kebab, salsa, creme fraische dressing, guacamole</td><td>62,-</td>
</tr><tr>
<td>79</td><td>Kyllingesalat</td><td>Kylling med salat, tomat, agurk, majs, champignon, bacon, dressing, og flûtes med smør</td><td>65,-</td>
</tr><tr>
<td>80</td><td>Grøn Salat</td><td>Majs, champignon, løg, tomat, agurk, fetaost</td><td>65,-</td>
</tr>
<tr><td colspan=4><h4>Deserter</h4></td></tr>
<tr>
<td>126</td><td>Chokoladekage</td><td>Chokoladekage med chokoladesauce</td><td>52,-</td>
</tr><tr>
<td>127</td><td>Æblekage</td><td>Æblekage med creme fraiche og chokoladesauce</td><td>52,-</td>
</tr>
<tr><td colspan=4><h4>Kaffe</h4></td></tr>
<tr>
<td>1K</td><td>Kaffe</td><td>Normal kaffe</td><td>20,-</td>
</tr><tr>
<td>2K</td><td>Irsk Kaffe</td><td>Kaffe med sukker og whisky toppet med flødeskum</td><td>55,-</td>
</tr>
<tr><td colspan=4><h4>Drikkevarer</h4></td></tr>
<tr>
<td>1D</td><td>Sodavand 25 cl</td><td>vælg mellem: 
<br>- Coca Cola Classic
<br>- Coca Cola ZERO SUGAR
<br>- Fanta Orange
<br>- Sprite
<br>- Schweppes Lemon
</td><td>25</td>
</tr><tr>
<td>2D</td><td>Sodavand 50 cl</td><td>vælg mellem: 
<br>- Coca Cola Classic
<br>- Coca Cola ZERO SUGAR
<br>- Fanta Orange
<br>- Sprite
<br>- Schweppes Lemon
<br>
<br>Vand med brus:
<br>- Ramlösa Original (med brus)
<br>- Ramlösa Citrus (med brus)
</td><td>35</td>
</tr><tr>
<td>3D</td><td>Sodavand 1,5 L <br/><i>Kun ud af huset.</i></td><td>
<br>vælg mellem: 
<br>- Coca Cola 
<br>- Coca Cola Light
<br>- Fanta
<br>- Sprite
<br>- Lemon
<br>- Dansk Vand
<td>40</td>
</tr><tr>
<td>4D</td><td>Kildevæld</td><td>Mineralvand uden brus</td><td>20</td>
</tr><tr>
<td>5D</td><td>Flaskeøl</td><td>
<br><b>- Grøn Tuborg 4.6%</b>
<br>Danmarks første pilsner. Smagen er mild og frisk 
<br>med en let efterbitterhed. Den er gylden med hvidt 
<br>skum med duft af blomster og korn.
</td><td>32,-</td>
</tr><tr><td></td><td><td>
<br><b>- Tuborg Classic 4.6%</b>
<br>Danmarks første "Classic" har en ristet smag 
<br>og en let sødme. Den lyse farve krones af 
<br>elfenbensfarvet 
skum, og duften er frisk.
</td><td> 35,-</td>
</tr>
<tr>
<td></td><td><td>
<br><b>- Carlsberg Pilsner 4.6%</b>
<br>En harmonisk balance mellem bitterhed og æble. 
<br>En smuk lysgylden øl med duft af fyrretræ 
<br>og hasselnød - næssten som duften af Danmark.
</td><td>32,-</td>
</tr>
<tr><td colspan=4><h4>Spiritus</h4></td></tr>
<tr>
<td>1S</td><td>Cognac 2 cl</td><td>Cognac</td><td>45,-</td>
</tr><tr>
<td>2S</td><td>Whisky 2 cl</td><td>Whisky</td><td>45,-</td>
</tr><tr>
<td>3S</td><td>Jägermeister 2 cl.</td><td>Jägermeister</td><td>45,-</td>
</tr><tr>
<td>4S</td><td>Gammel Dansk 2 cl</td><td>Gammel Dansk</td><td>54,-</td>
</tr>
<tr><td colspan=4><h4>Vin</h4></td></tr>
<tr>
<td>1V</td><td>1 Glas Vin, vælg mellem:</td><td>
<br>- Husets Rødvin
<br>- Husets Hvidvin 
<br>- Husets Rosévin</td><td>40</td>
</tr><tr>
<td>2V</td><td>1 Flaske Vin, vælg mellem: </td><td>
<br>- Husets Rødvin
<br>- Husets Hvidvin
<br>- Husets Rosévin </td><td>169</td>
</tr>
</table>