<!-- SECTION INFO -->
    <section class="info-section">
        <!-- ARTICLE OPENING HOURS -->
        <article id="opening-hours-id" class="article opening-hours-article">
            <h1 class="big-title">Åbningstider</h1>
            <h1 class="title">Sommertid</h1>
            <div class="opening-hours-div">
                <p class="opening-hours-info opening-hours-day">Mandag - lørdag</p>
                <p class="opening-hours-info opening-hours-hours">11:00-22:00</p>
                <div class="div-line"></div>
            </div>

            <div class="opening-hours-div">
                <p class="opening-hours-info opening-hours-day">Søndag</p>
                <p class="opening-hours-info opening-hours-hours">12:00-22:00</p>
                <div class="div-line"></div>
            </div>

            <h1 class="title">Vintertid</h1>

            <div class="opening-hours-div">
                <p class="opening-hours-info opening-hours-day">Mandag - Torsdag</p>
                <p class="opening-hours-info opening-hours-hours">11:00-21:00</p>
                <div class="div-line"></div>
            </div>

            <div class="opening-hours-div">
                <p class="opening-hours-info opening-hours-day">Fredag - Lørdag</p>
                <p class="opening-hours-info opening-hours-hours">11:00-22:00</p>
                <div class="div-line"></div>
            </div>

            <div class="opening-hours-div">
                <p class="opening-hours-info opening-hours-day">Søndag</p>
                <p class="opening-hours-info opening-hours-hours">12:00-21:00</p>
                <div class="div-line"></div>
            </div>

            <div class="opening-hours-div opening-hours-text-div work-around">
                <p class="opening-hours-info">Køkkenet likker en halv time <br> før lukketid</p>
                <div class="div-line"></div>
            </div>
        </article>
        <!--END Opening Hours Article-->
        <!-- ARTICLE CONTACT -->
        <article id="contact-id" class="article contact-article">
            <h1 class="title">Kontakt</h1>
            <!-- PHONE -->
            <div class="phone-div">
                <p class="imp-text">Ring og bestil på tlf.:<span class="imp-text-white"><a href="tel:98935566"> 98 93 55 66</a></span></p>
                <div class="div-line"></div>
            </div>
            <!--END Phone-->
            <!-- MAPS GOOGLE -->
            <p class="imp-text">Nørregade 18 - 9870 Sindal</p>
            <partial name="_MapsGoogle" />
        </article>
        <!--END Contact Article-->
        <!-- ARTICLE WELCOME -->
        <article class="article">
            <h1 class="title">Velkommen til Mamma's Pizza & Restaurant!</h1>
            <p class="imp-text welcome-text">
                Med 25 års erfaring inden for branchen laver vi på Mamma's Pizza & Restaurant mad med kærlighed, da vi har en stor passion for god madlavning og l&aegger en ære i, at give vores kunder en god oplevelse i smukke og hyggelige omgivelser.
                <br />
                <br />
                Gør din dag lidt lette, spring madlavningen kom og få lækker mad fra os.
                Vi har en menu med et bredt udvalg, hvor du finder noget for en hver smag.
                <br />
                <br />
                Hos os finder du både mad til hverdagen, noget hurtigt på vejen, og til dage med
                lidt ekstra forkælelse, hvor vi bl.a. tilbyder steak, der kan nydes med lækre drikkevarer.
                <br />
                <br />
                Så skal hverdagen piftes op med en hyggeligt tur på restaurant, kan I komme til vores flotte
                restaurant og blive forkælet med forret, hovedret, desert og fine drikkevarer til og efter maden.
                <br />
                <br />
                Er du ude efter frokost, har vi specielle frokosttilbud af et udvalg fra menuen.
                Har du lyst til pizza har vi et bredt udvalg af forskellige typer og spændene pizzaer.
                Få mad til hele familien, hvor vi naturligvis har en speciel børnemenu til børnene.
                <br />
                <br />
                Se vores menukort, og find lige præcis det, du har lyst til, hvor du kan vælge mellem:
            </p>
        </article>
        <!--END Welcome Article-->
        <!-- LINK FACEBOOK -->
        <a class="no-underline" target="_blank" href="https://www.facebook.com/profile.php?id=100063504642446">
            <div class="facebook">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <p>Facebook</p>
            </div>
        </a>
        <!--END Facebook Link-->
    </section>
    <!--END Info Section-->