<section class="info-section">
    <article id="opening-hours-id" class="article opening-hours-article">
    <h1 class="title">Åbningstider</h1>
    <div class="opening-hours-div">
        <p class="opening-hours-info opening-hours-day">Mandag - fredag</p>
        <p class="opening-hours-info opening-hours-hours">11:00-22:00</p>
        <div class="div-line"></div>
    </div>

    <div class="opening-hours-div">
        <p class="opening-hours-info opening-hours-day">Lørdag</p>
        <p class="opening-hours-info opening-hours-hours">11:00-22:00</p>
        <div class="div-line"></div>
    </div>

    <div class="opening-hours-div">
        <p class="opening-hours-info opening-hours-day">Søndag</p>
        <p class="opening-hours-info opening-hours-hours">12:00-22:00</p>
        <div class="div-line"></div>
    </div>

    <div class="opening-hours-div opening-hours-text-div work-around">
        <p class="opening-hours-info">Køkkenet lukker en halv time <br> før lukketid</p>
        <div class="div-line"></div>
    </div>
    </article>
    <article id="contact-id" class="article contact-article">
        <h1 class="title">Kontakt os</h1>
        <div class="phone-div">
            <p class="imp-text"><a href="tel:004598935566">Tlf.: 98 93 55 66</a></p>
            <div class="div-line"></div>
        </div>
            
        <p><a class="imp-text" id="adress-link">Adresse: <br>Nørregade 18, 9870 Sindal, Denmark</a></p>
        <partial name="../shared/_MapsGoogle" />
    </article>

    <article class="article">
        <h1 class="title">Velkommen til Mamma's Pizza & Restaurant!</h1>
        <p class="imp-text welcome-text">

            Med 25 års erfaring inden for branchen laver vi på Mamma's Pizza & Restaurant mad med kærlighed, da vi har en stor passion for god madlavning og l&aegger en ære i, at give vores kunder en god oplevelse i smukke og hyggelige omgivelser.
            <br><br>

            Gør din dag lidt lette, spring madlavningen kom og få lækker mad fra os.
            Vi har en menu med et bredt udvalg, hvor du finder noget for en hver smag.
            <br><br>

            Hos os finder du både mad til hverdagen, noget hurtigt på vejen, og til dage med
            lidt ekstra forkælelse, hvor vi bl.a. tilbyder steak, der kan nydes med lækre drikkevarer.
            <br><br>

            Så skal hverdagen piftes op med en hyggeligt tur på restaurant, kan I komme til vores flotte
            restaurant og blive forkælet med forret, hovedret, desert og fine drikkevarer til og efter maden.
            <br><br>

            Er du ude efter frokost, har vi specielle frokosttilbud af et udvalg fra menuen.
            Har du lyst til pizza har vi et bredt udvalg af forskellige typer og spændene pizzaer.
            Få mad til hele familien, hvor vi naturligvis har en speciel børnemenu til børnene.
            <br><br>

            Se vores menukort, og find lige præcis det, du har lyst til, hvor du kan vælge mellem:
            <br><br>

            Frokost tilbud, Pizza, Salat Pizza, Pommes Frites Pizza, Mexicana Pizza, Nachos Pizza, Parma Pizza, Indbagt Pizza, Halvindbagt Pizza, Dobbeltindbagt Pizza, Baguette Sandwich, Ekstra tilbehør, Børnemenu, Hjemmelavet Sandwich, Pastaretter, Specialretter, Burger, Pitabrød, Forretter, Steak, Isdesserter, Kaffe, Drikkevarer, Spiritus, Vin.
        </p>
    </article>

    <div class="facebook">
        <a target="_blank" href="https://www.facebook.com/profile.php?id=100063504642446"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <p>Facebook</p>
    </div>

</section>