<div style="overflow-x:auto;"> <!--Neccessary for responding to mobile-->
    <h1>Menukort</h1>
<div class="menuCard" id="menuCardTable">
    <partial name="MenuCard/FrokostTilbud" />
    <partial name="MenuCard/PizzaAlm" />
    <partial name="MenuCard/SalatPizza" />
    <partial name="MenuCard/PommesPizza" />
    <partial name="MenuCard/MexicanaPizza" />
    <partial name="MenuCard/IndbagtPizza" />
    <partial name="MenuCard/HalvIndbagtPizza" />
    <partial name="MenuCard/DobbeltIndbagtPizza" />
    <partial name="MenuCard/ParmaPizza" />
    <partial name="MenuCard/NachosPizza" />
    <partial name="MenuCard/BoerneMenu" />
    <partial name="MenuCard/Forretter" />
    <partial name="MenuCard/Spaghetti" />
    <partial name="MenuCard/Specialiteter" />
    <partial name="MenuCard/PitaBroed" />
    <partial name="MenuCard/Burger" />
    <partial name="MenuCard/EkstraTilbehoer" />
    <partial name="MenuCard/HjemmelavetSandwich" />
    <partial name="MenuCard/Desserter" />
    <partial name="MenuCard/Kaffe" />
    <partial name="MenuCard/Spiritus" />
    <partial name="MenuCard/Vin" />
    <partial name="MenuCard/FlaskeOel" />
    <partial name="MenuCard/FlaskeSodavand" />
    <partial name="MenuCard/Vand" />
</div>
</div><!--END container for mobile respons-->
