/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    margin-left: 0;
    margin-right: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* Custom styles
______________________________________________*/

/*------------------ LUKAS CODE START ----------------- */

*{
  scroll-behavior: smooth;
}

/* ----------------- GLOBAL START --------------- */
.container { /*Just suggestion*/
    border: solid #9E754D 2px;
    border-radius: 25px;
    margin: 5%;
}

.h1Special {
    text-align: center;
    font-family: 'Lucida Handwriting';
}

h4 {
    border: 2px solid rgba(193,143,92,1);
    border-top: 4px solid rgb(59 59 59);
    box-shadow: 0px 4px 0px 0px rgba(114, 104, 104, 0.5) inset;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgba(193,143,92,1);
    padding: 10px;
    color: #fdfdfd;
}

p {
    color: #fdfdfd;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.article{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  text-align: center;
}

.title{
color: #fdfdfd;
font-size: 24px;
}

.imp-text{
    font-size: 21px;
}
.imp-text a{
    color: rgb(59 59 59);
}

/*GLOBAL END*/

/*----------------- NAVBAR START --------------------------*/

#navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: rgb(59 59 59);
  z-index: 5;
  height: 52px;
}

#navbar a{
  text-decoration: none;
}

#logo {
    height: 125px;
    width: 125px;
    background-image: url('../img/MPSlogoMamma.PNG');
    /*background-color: rgb(0, 0, 0);*/
    margin-right: auto;
    margin: 110px auto 5px 15px; /*Might have to fix to not kill the Mamma by cutting her head 
        - i really see my old knowlegde and am really thrilled about your help.
        Okay now I reveilled her, by 110px top, but I think you can do something smarter, 
        and if you want to change the logo also. We've got all freedom. Maybe txt by or slogan 
        or whatever is good :) .
    */
    border-radius: 25px; /*You can chance*/
}

.nav-btn{
  background-color: rgb(77 77 77);
  margin: 2px 15px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  transition-duration: 0.5s;
  border-radius: 5px;
}
.nav-btn p{
  color: rgb(255, 255, 255);
  margin: 5px;
  font-size: 16px;
}
.nav-btn i{
  font-size: 18px;
  margin: 5px;
}

.nav-btn:hover{
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.63); 
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.63);
}

@media screen and (max-width: 800px) {
  #navbar p{
    display: none;
  }
.nav-btn{
  margin: 7px;
}
#navbar{
  height: 44px;
}
 img {
     width: 90%;
     height: auto;
 }
 .container{
     width: 90%;
     padding: 20px;
 }
}


/*----------------- NAVBAR END --------------------------*/


.info-section{
  background: #9E754D;
  background: linear-gradient(90deg, rgba(193,143,92,1) 0%, rgba(158,117,64,1) 49%, rgba(193,143,92,1) 100%);  display: flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* --------------- OPENING HOURS START ------------------*/

.opening-hours-article{

}

.title{
font-size: 27px;
margin-bottom: 10px;
}

.opening-hours-div{
  position: relative;
  width: 50vw;
  min-width: 260px;
  height: 50px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
}

.opening-hours-info{
  font-weight: bold;
  position: absolute;
  font-size: 21px;
}
.opening-hours-day{
left: 0px;
}
.opening-hours-hours{
  right: 0px;
}
.work-around{
  height: 83px;
}

.div-line{
height: 1px;
background-color: #fdfdfd;
width: 105%;
position: absolute;
bottom: 0px;
}

/*----------------- CONTACT START -----------------*/
#hero-section {
    align-content: center; /*I guess center is smart, you know best withh all style of this section. can also be a 'carousel' with some photos as I had before the Sony-Guy*/
}

.contact-article{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.phone-div{
position: relative;
display: flex;
justify-content: center;
font-size: 21px;
}

#adress-link{
  color:#fdfdfd ;
}

#google-map{
width: 70vw;
height: 35vw;
max-height: 1000px;
max-width: 1500px;
}

@media screen and (max-width: 700px){
  #google-map{
    height: 40vh;
  }
}

/*------------------- WELCOME START -------------------*/

.welcome-text{
  width: 70vw;
}

/*----------------------- FABEBOOK -------------- */
.facebook{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 1px white;
  padding: 8px;
  border-radius: 5px;
  margin: 30px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.facebook i{
  font-size: 50px;
  color: white;
}
.facebook p{
  margin: 0;
  font-size: 21px;
}

.facebook:hover{
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.63); 
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.63);
}

/*------------------- MENU CARD START -------------------*/
.menuCard .row{
    border-top: 1px solid rgba(193,143,92,1);
}

/*------------------- FOOTER START -------------------*/
#footer{
padding: 40px 15vw 20px 15vw;
background-color: #343A40;
display: grid;
grid-template-columns: 33% 33% 33%;

color: #E8E8E8;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 20px;
}

@media screen and (max-width: 1000px) {
#footer{
  grid-template-columns: 33%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

}

.footer-list{
list-style: none;
}

.list-header{
font-weight: bold;
margin-bottom: 10px;
}


.opening-hours{
display: flex;
min-width: 250px;
}

#opening-hours-title-display-none{
opacity: 0;
}

.opening-hours-list{
margin-left: -23px;
}

/*FOOTER END*/




/* Lukas code FOREVER */
